.rfield {
    color: red;
    display: inline;
}
.errfield{
    color: red;
}
.field {
    margin: 10px;
}
.container {
    margin: 0 auto;
    width: fit-content;
    text-align: right;
}
input {
    margin-left: 50px;
}
select {
    margin-left: 180px;
}
h3 {
    text-align:  center;
}