.rfield {
    color: red;
    display: inline;
}
.errfield{
    color: red;
}
.field {
    margin: 10px;
}
.container {
    margin: 0 auto;
    width: fit-content;
    text-align: right;
}
input {
    margin-left: 50px;
}
.inputh{
    margin-left: 170px;
}
.selectst {
    margin-left: 180px;
}
.selecta {
    margin-left: 36px;
}
.selecte {
    margin-left: 110px;
}
h3 {
    text-align:  center;
}
.submit {
    margin-right: 33%;
}