.navContainer{
    height: 80px;
    background-color: bisque;
}
.homeBtn{
    position: absolute;
    left: 10px;
}
.loginBtn{
    position: absolute;
    right: 10px;
}
.registerBtn{
    position: absolute;
    right: 100px;
}